<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="myScript.js"></script>
    <!--<script >-->
    <!--function myFunction() {-->
    <!--document.getElementById("demo").innerHTML = "this is my first function";-->
    <!--}-->
    <!--</script>-->
</head>
<body>
<h1 id = "test">this is a joke</h1>

<h2 id = "h2">I am a Iron Man</h2>

    看书：<input type="checkbox" name="checkbox" value=1><br>
    写字：<input type="checkbox" name="checkbox"value=2><br>
    打飞机：<input type="checkbox" name="checkbox"value=3><br>
    玩游戏：<input type="checkbox" name="checkbox"value=4><br>
    <button onclick="checkboxed('checkbox')">全选</button>
    <button onclick="uncheckboxed('checkbox')">取消全选</button>

<!--<p id = "demo">say it's test</p>-->
<!--<button onclick="myFunction(6,7)">click me</button>-->
<!--<p id = "part2">you will be success </p>-->

</body>
</html>